<launch>
  <!-- Launch rosserial_node for TCP communication -->
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial_tcp" args="tcp 11411" output="screen"/>

  <!-- Launch the odom_bridge.py node from the mytb3_bridges package -->
  <node pkg="mytb3_bridges" type="odom_bridge.py" name="odom_bridge" output="screen"/>

  <!-- Launch robot_pose_ekf -->
  <include file="$(find robot_pose_ekf)/robot_pose_ekf.launch"/>
</launch>
