<launch>
  <node pkg="mytb3_slam" type="cost_map_plot.py" name="plot" output="screen"/>
  <node pkg="mytb3_nav" type="go_to_goal.py" name="goal_navigation" output="screen"/>
  <node pkg="mytb3_nav" type="fuzzy.py" name="obstacle_avoidance" output="screen"/>
  
  <node pkg="mytb3_slam" type="yolo_detector.py" name="yolo" output="screen"/>
</launch>
